a:hover, a:active, a:link, a:visited {
    color: #9d9c9d;
}
a {
    text-decoration: none;
}
.fb-image, .vimeo-image {
    height: 30px;
    margin-top: 115px;
    margin-left: -15px;
}
.vimeo-image {
    margin-left: 10px;
}
.phone-number {
    color: #9d9c9d;
    font-size: 20px;
    margin-top: 120px;
    margin-right: -15px;
}
.fb-col {
    height: 152px;
}
.video-col {
    padding: 0;
}
.footer-col {
    font-size: 20px;
    color: #9d9c9d;
    margin-top:5px;
    line-height: 150%;
}
.footer-col hr {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    border-top: 3px solid #eee;
}
.copyright {
    font-size: 18px
}
.video-thumb {
    padding: 3px;
    opacity: 0.5;
    transition: .4s;
}
.video-thumb:hover, .video-thumb.active {
    cursor: pointer;
    opacity: 1;
}

@media (max-width: 992px) {
    .phone-number-col {
        visibility: hidden;
    }
    .fb-col {
        visibility: hidden;
    }
}
.vimeo-container iframe {
    width: 100%;
    height: 32vw;
}
.reviews h1 {
    font-size: 25px;
    color: grey;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote span {
    font-size: 15px;
    color: grey;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

#footer {
    display: none;
}

.fake-block {
    height: 50px;
    margin-top: -50px;
    background-color:white;
}

.phone-number1 {
    color: #9d9c9d;
    font-size: 20px;
    margin-top: 30px;
    margin-right: -15px;
    padding-bottom: 10px;
}

.fb-image1 {
    height: 30px;
    margin-top: 30px;
    margin-left: -15px;
}
.vimeo-image1 {
    height: 30px;
    margin-top: 30px;
    margin-left: 10px;
}